  <div class="movie-search">
    <table>
      <tr>
        <th> Title </th>
        <th> Genres </th>
        <th> From </th>
        <th> IMDB </th>
        <th> Rotten </th>
      </tr>
      <% @movies.each do |movie| %>
          <tr>
            <td><%= link_to movie[:Title], :action => 'detail', :id => movie[:_id] %></td>
            <td><%= movie[:Genres].to_sentence %></td>
            <td><%= movie[:From] %></td>
            <td><%= movie[:RatingIMDB] %></td>
            <td><%= movie[:RatingRotten] %></td>
          </tr>
      <% end %>
    </table>
  </div>