<!DOCTYPE html>
<html>
<head>
  <title>MvM</title>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%if @oauth_code%>
  <%@graph2 = Koala::Facebook::API.new(@oauth_code)%>
<%@friends = @graph2.get_connections("me", "friends")%>
<%=@friends%>
<%end%>

<%ccallback="http://rocky-mountain-1051.herokuapp.com/oauth_redirect_url"%>

<%= link_to 'Login', Koala::Facebook::OAuth.new.url_for_oauth_code(:callback => ccallback) %>

    <div class="search-form">
        <%= form_tag({:controller => 'movies', :action => 'search'},
                     {:id => 'form_search', :method => :get}) do %>
            <input type="text" placeholder="Search your Movie" name="search">
            <select name="type">
              <option value="Title">Movie</option>
              <option value="Cast">Actor</option>
            </select>
            <select name="genre">
              <option value="">All</option>
              <option value="Action">Action</option>
              <option value="Adventure">Adventure</option>
              <option value="Animation">Animation</option>
              <option value="Biography">Biography</option>
              <option value="Comedy">Comedy</option>
              <option value="Crime">Crime</option>
              <option value="Documentary">Documentary</option>
              <option value="Drama">Drama</option>
              <option value="Fantasy">Fantasy</option>
              <option value="History">History</option>
              <option value="Horror">Horror</option>
              <option value="Mystery">Mystery</option>
              <option value="Romance">Romance</option>
              <option value="Sci-Fi">Sci-Fi</option>
              <option value="Thriller">Thriller</option>
              <option value="War">War</option>
              <option value="Western">Western</option>
            </select>
         <% end %>
    </div>
    <div class="logo1">
      <%= link_to image_tag('logo1.png'), action: 'movies' %>
    </div>
    <div class="side-menu">
        <div class="server-stats">
          <p>Server Stats:</p>
          <span> <strong>IMDB:</strong> <%= @count_imdb %></span><br>
          <span><strong>Rotten:</strong> <%= @count_rotten %></span><br>
          <span><strong>Both:</strong> <%= @count_both %></span><br>
          <span><strong>Total:</strong> <%= @count_both + @count_rotten + @count_imdb %></span>
        </div>
      <hr>
        <div class="bacon" style="text-align:center">
          <p style="text-align:left"> Bacon: </p>
          <%= form_tag({:controller => 'movies', :action => 'bacon'}, remote: true, :method => :get) %>
          <input type="text" class="input-xlarge"  placeholder="Actor 1" name="actor_1">
          <input type="text" class="input" placeholder="Actor 2" name="actor_2">
          <input type="submit" class=" btn btn-success" value="Calculate Bacon">
        </div>
    </div>

    <%= yield %>

</body>
</html>
